@{
    ViewData["Title"] = "Home Page";
}

@model Dish;

<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1>
        @Model.Name
    </h1>
    <h2 class="mb-5">
        @Model.Chef
    </h2>
    <h4>@Model.Description</h4>
    <h4>Calories: @Model.Calories</h4>
    <h4>Tastiness: @Model.Tastiness</h4>

    <a href="/delete/@Model.DishId" class="btn btn-danger">Delete</a>
    <a href="/edit/@Model.DishId" class="btn btn-primary mt-2">Edit</a>
</div>
